mixin style(href)
  link(rel = 'stylesheet' type = 'text/css' href = href)

mixin subtitle(level, name, content)
  a.subtitle(name = name href = '#' + name)
    #{'h' + level}.pointer-cursor.heading= content

mixin article(level, name, title, image)
  -
    const {rngString} = getlib('random-string')
    const checkbox = 'checkbox-' + rngString(8)
  input(id = checkbox name = checkbox type = 'checkbox' hidden)
  label(for = checkbox): article.horizontal.hang-children
    if image
      +image-container(image)
    .text
      +subtitle(level, name, title)
      block

mixin image-container(src)
  figure.image-container: img.image(src = src)

mixin bgimage-container(url)
  -
    const style = {
      background: `url(${url})`
    }
  figure.bgimage-container
    .bgimage(style = style)

mixin font-icon-container(char, font)
  figure.font-icon-container
    .icon(style = {'font-family': font})= char

mixin icon(url)
  -
    const style = {
      'background-image': `url(${url})`,
      'background-position': 'center',
      'background-size': 'contain',
      'background-repeat': 'no-repeat'
    }
  .icon(style = style)
