mixin subtitle(level, name, content)
  a.subtitle(name = name href = '#' + name)
    #{'h' + level}.heading.subtitle-header= content

mixin image-container(src)
  figure.image-container: img.image(src = src)