-
  const {join, resolve} = require('path')
  const {readFileSync} = require('fs')
  const yaml = require('js-yaml')
  const getlibfile = getlib('getlibfile')
  const {toPairObjectList} = getlib('object-list')
  const repeat = getlib('repeater').array.value
  const license = readFileSync(join(projdir, 'LICENSE.md'), {encoding: 'utf8'})
  const sitemapyaml = yaml.load(getlibfile('site-map.yaml'))
  const sitemap = toPairObjectList(sitemapyaml)
  const parentDirectory = level => level ? repeat('..', level).join('/') : '.'
  const siteroot = parentDirectory(level - 1)

include components.pug

doctype html

| !{'\n\n<!--\n' + license + '\n-->\n\n'}

html(lang = 'vi')
  head
    meta(charset = 'utf-8')
    title: block title
      | Trò chơi giải trí — Trang chủ

    block stylesheet
      +style('style/basic.css')
      +style('style/scrollbar.css')
      +style('style/master.css')

    block head-script

  body: .page
    header#main-header
      +checkbox('menu-visibility-checkbox')(hidden)
      nav#menu-container
        label#menu-button-container.no-print(for = 'menu-visibility-checkbox')
          #menu-button
          h2#menu-title menu

        ul#main-menu: for pair in sitemap
          -
            const href = [siteroot, pair.name].join('/')
            const isOnView = resolve(dir, name + '.html') === target
          li(on-view = isOnView): a(href = href)= pair.body

      #logo-container: #logo: block logo
        h1#content-title Trò chơi giải trí

      #search-container.no-print
        #search-button-container
          input#search-input(type = 'text')
          #search-button

        #search-suggestion

    section#main-section
      block main-section

    footer#main-footer
      .copyright-claim
        :md(breaks)
          Copyright © 2017 [Hoàng Văn Khải](https://github.com/KSXGitHub)
          Copyright © 2017 [Nguyễn Mạnh Cường](https://github.com/cuong8321)
          Copyright © 2017 [Y Nhơn Niê](https://github.com/Nhany14)
          All rights reserved

          Source code is available at
          [GitHub/perfect-idiots/dkonpkon](https://github.com/perfect-idiots/dkonpkon)
          Under [MIT License](https://github.com/perfect-idiots/dkonpkon/blob/master/LICENSE.md)

    block body-script
      +script-list(siteroot, 'onload', 'search')
