-
  const {join} = require('path')
  const {readFileSync} = require('fs')
  const yaml = require('js-yaml')
  const getlibfile = getlib('getlibfile')
  const {toPairObjectList} = getlib('object-list')
  const repeat = getlib('repeater').array.value
  const license = readFileSync(join(projdir, 'LICENSE.md'), {encoding: 'utf8'})
  const sitemapyaml = yaml.load(getlibfile('site-map.yaml'))
  const sitemap = toPairObjectList(sitemapyaml)
  const parentDirectory = level => join(...repeat('..', level))

include components.pug

doctype html

| !{'\n\n<!--\n' + license + '\n-->\n\n'}

html(lang = 'vi')
  head
    meta(charset = 'utf-8')
    title: block title
      | Trò chơi giải trí — Trang chủ

    block stylesheet
      +style('style/basic.css')
      +style('style/scrollbar.css')
      +style('style/master.css')

  body: .page
    header#main-header
      +checkbox('menu-visibility-checkbox')(hidden)
      label#menu-button-container.no-print(for = 'menu-visibility-checkbox'): button#menu-button
      nav#menu-container
        h1#menu-title MENU
        ul#main-menu: for pair in sitemap
          li: a(href = join(parentDirectory(level - 1), pair.name))= pair.body
      #logo-container: #logo: block logo
        h1#content-title Trò chơi giải trí
      label#search-button-container.no-print(for = 'search-visibility-checkbox'): button#search-button

    section#main-section
      block main-section

    footer#main-footer
      .copyright-claim
        :md(breaks)
          Copyright © 2017 [Hoàng Văn Khải](https://github.com/KSXGitHub)
          Copyright © 2017 [Nguyễn Mạnh Cường](https://github.com/cuong8321)
          Copyright © 2017 [Y Nhơn Niê](https://github.com/Nhany14)
          All rights reserved

          Source code is available at
          [GitHub/perfect-idiots/dkonpkon](https://github.com/perfect-idiots/dkonpkon)
          Under [MIT License](https://github.com/perfect-idiots/dkonpkon/blob/master/LICENSE.md)
