doctype html
-
  const {parse, join} = require('path')
  const {readdirSync, readFileSync} = require('fs')
  const yaml = require('js-yaml')
  const dash2cspc = getlib('dash-to-camel-and-spaces.js')
  const getlibfile = getlib('getlibfile')
  const sitemap = yaml.load(getlibfile('map.yaml'))
  const license = readFileSync(join(projdir, 'LICENSE.md'), {encoding: 'utf8'})
| !{'\n<!--\n' + license + '\n-->\n'}
html
  head
    meta(charset = 'utf-8')
    title: block title
    link(rel = 'stylesheet' href = '../style/basic.css')
    link(rel = 'stylesheet' href = '../style/master.css')
  body.pattern-background.horizontal.hang-children
    .aside.horizontal.hang-children
      block aside
        aside#main-side-pane
          header: h2.title Navigation
          nav#main-nav.vertical
            ul.menu
              each item in sitemap
                - const [name, file] = item
                li.menu-item: a(href = file + '.html')
                  button= name
    section#main-section.main
      header#main-header
      h1#main-title.center: block title
      main
        block main
          article Main Content
      footer#main-footer
        section.center
          p
            div.
              Copyright &copy; 2017 Hoàng Văn Khải
          p
            div.
              This software comes with absolutely <strong>no warranty</strong>
            div.
              See the
              <a href="https://github.com/KSXGitHub/homework-project-personal-website/blob/master/LICENSE.md"> 
                MIT License
              </a>
              for more details


