-
  const {join, resolve, parse} = require('path')
  const {readFileSync, readdirSync} = require('fs')
  const getyamlobj = getlib('getyamlobj')
  const {toPairObjectList} = getlib('object-list')
  const repeat = getlib('repeater').array.value
  const gamedir = join(lib, 'game')
  const license = readFileSync(join(projdir, 'LICENSE.md'), {encoding: 'utf8'})
  const sitemapyaml = getyamlobj('site-map.yaml')
  const sitemap = toPairObjectList(sitemapyaml)
  const categories = readdirSync(gamedir).map(filename => parse(filename).name)
  const parentDirectory = level => level ? repeat('..', level).join('/') : '.'
  const siteroot = parentDirectory(level - 1)
  const actualHomePage = join(out, 'index.html')
  const isHomePage = actualHomePage === target

include components.pug

doctype html

| !{'\n\n<!--\n' + license + '\n-->\n\n'}

html(lang = 'vi' home-page = isHomePage)
  head
    meta(charset = 'utf-8')
    title: block title
      | Trò chơi điện tử — Trang chủ

    block stylesheet
      -
        const href = name =>
          [siteroot, 'style', name + '.css'].join('/')
      for name in ['basic', 'scrollbar', 'master']
        +style(href(name))

    block head-script

    block data
      +pretty-json-script(getyamlobj('genre.yaml'))#data-genre
      +pretty-json-script(sitemap)#data-sitemap
      +pretty-json-script(categories)#data-categories

  body
    header#main-header
      +checkbox('menu-visibility-checkbox')(hidden)
      nav#menu-container
        label#menu-button-container.no-print(for = 'menu-visibility-checkbox')
          #menu-button
          h2#menu-title menu

        ul#main-menu: for pair in sitemap
          -
            const href = [siteroot, pair.name].join('/')
            const isOnView = resolve(dir, href) === target
          li(on-view = isOnView): a(href = href)= pair.body

      #logo-container: #logo: block logo
        h1#content-title Trò chơi điện tử

      #search-container.no-print
        #search-button-container
          input#search-input.text-cursor(type = 'text' placeholder = 'Search')
          #search-button

        #search-suggestion

    section#main-section
      block main-section

    footer#main-footer
      .copyright-claim
        :md(breaks)
          Copyright © 2017 [Hoàng Văn Khải](https://github.com/KSXGitHub)
          Copyright © 2017 [Nguyễn Mạnh Cường](https://github.com/cuong8321)
          Copyright © 2017 [Y Nhơn Niê](https://github.com/Nhany14)
          All rights reserved

          Source code is available at
          [GitHub/perfect-idiots/dkonpkon](https://github.com/perfect-idiots/dkonpkon)
          Under [MIT License](https://github.com/perfect-idiots/dkonpkon/blob/master/LICENSE.md)

    block body-script
      +script-list(siteroot, 'onload', 'search')
