rectange(width, height)
  width width
  height height

square(size)
  rectange(size, size)

define-size(page-width)
  unit-size = (page-width / 960)
  size-60 = (60 * unit-size)
  size-20 = (20 * unit-size)

  std-size(count)
    (count * size-60 + (count - 1) * size-20)

  std-rectangle(width, height)
    rectange(std-size(width), std-size(height))

  std-square(count)
    square(std-size(count))

  @media (min-width: page-width)
    #main-header, #main-section, #main-footer
      display block

    #main-header
      height size-60

    #main-footer
      height (2 * size-60 + 1 * size-20)

    #menu-button-container, #logo, #search-button-container
      margin size-20

    #menu-button
      background-image url(../image/menu.svg)
      background-size unit-size
      std-square(1)

for factor in (8..38)
  define-size(factor * 60px)

body
  background black
