rectange(width, height)
  width width
  height height

square(size)
  rectange(size, size)

define-size(page-width)
  unit-size = (page-width / 960)
  size-60 = (60 * unit-size)
  size-10 = (10 * unit-size)

  std-size(count)
    (count * size-60 + (count - 1) * size-10)

  std-size-container(count)
    (count * size-60 + (count + 1) * size-10)

  std-rectangle(width, height)
    rectange(std-size(width), std-size(height))

  std-rectangle-container(width, height)
    rectange(std-size-container(width), std-size-container(height))

  std-rectangle-margin(width, height)
    std-rectangle(width, height)
    margin size-10

  std-square(count)
    square(std-size(count))

  std-square-container(count)
    square(std-size-container(count))

  std-square-margin(count)
    std-square(count)
    margin size-10

  @media (min-width: page-width)

    body
      font-size (10 * unit-size)

    .page
      width std-size-container(12)

    #main-header
      std-rectangle-container(12, 1)

    #main-footer
      std-rectangle-container(12, 2)
      font-size (7.5 * unit-size)

    #menu-button-container, #search-button-container
      std-square-margin(1)

    #logo
      std-rectangle-margin(12 - 2, 1)

    #menu-button, #search-button
      std-square(1)

    #menu-button
      background-size size-60

for factor in (8..38)
  define-size(factor * 60px)

body
  background black
  color white
  margin 0px
  padding 0px
  font-family 'Roboto', 'Product Sans', 'Cantarell', 'Segoe UI', 'Helvatica', 'arial', sans-serif

.page
  margin-left auto
  margin-right auto

#main-header
  letter-spacing 0px

#menu-button, #search-button
  background-color transparent
  border 0px solid white

#menu-button
  background-image url(../image/menu.svg)

#main-header, #main-section, #main-footer
  display block

#menu-button-container, #logo, #main-section
  display inline-block
