*::-webkit-scrollbar
  width 0.75em
  height 0.75em
  cursor default

*::-webkit-scrollbar-button
  width 0px
  height 0px

*::-webkit-scrollbar-thumb
  background rgba(255, 255, 255, 0.33)
  &:hover
    background rgba(255, 255, 255, 0.66)
  &:active
    background rgba(255, 255, 255, 0.99)
