
extends ../../lib/layout.pug

block title
  | Shockwave Flash Games

block main-section
  #main-embed-container.embed-container.flash
    embed(type = 'application/x-shockwave-flash')#main-embed

  main#main.flash.no-side-pane
    -
      const gamelist = readdirSync(join(src, 'media', 'swf'))
      const gameinfo = getyamlobj('game/flash.yaml')
      const genremap = getyamlobj('genre.yaml')
    input.zoom-out-radio#no-zoomed-article(type = 'radio' name = 'zoom-article' checked hidden)

    each gameitem in gamelist
      -
        const radio = 'show-' + gameitem + '-radio'
        const {name, genre, description} = gameinfo[gameitem]
      input.zoom-in-radio(type = 'radio' id = radio name = 'zoom-article' hidden)

      label.article-container(for = radio id = 'article-' + gameitem + '-container' target-game-item = gameitem)
        article.article(id = gameitem + '-article')
          -
            const imageurl = [siteroot, 'media', 'image', 'flash', gameitem, 0].join('/')
          img.article-figure(src = imageurl)

          .text.content
            h2.name.game-name= name

            p.genre
              span.title.genre-title Thể loại:
              span.content.genre-list= genre.map(x => genremap[x]).join(', ')

            p.description.paragraph
              != renderMarkdownIt(description)

          label.zoom-out-button-container(for = 'no-zoomed-article'): .zoom-out-button close
