extends ../../lib/layout.pug

block title
  | Shockwave Flash Games

block main-section
  main#main.flash.no-side-pane
    #main-embed-container.embed-container.flash
    +main-game-list('flash', join(src, 'media', 'swf'))

block append body-script
  +script-list(siteroot, 'flash.js')
