extends ../../lib/layout.pug

block title
  | Shockwave Flash Games

block main-section
  main#main.flash.no-side-pane
    +main-game-list('flash', join(src, 'media', 'swf'))
    #main-embed-container.embed-container.flash

block append body-script
  +script-list(siteroot, 'flash')
