extends ../../lib/layout.pug
include ../../lib/components.pug

block title
  | Personal Information

block main
  .horizontal-children.hang-children
    +article(2, 'self', 'About myself', '../image/lego-batman.jpg')
      .content
        +subtitle(3, 'identity', 'Personal Identity')
        ul
          li Full Name: Hoàng Văn Khải
          li Year of Birth: 1996
          li Gender: Male
          li Skills and Hobbies
        +subtitle(3, 'skills-hobbies', 'Skills & Hobbies')
        h4 <a href="programming.html">Programming</a>
        p.
          I learn to program, not because I love programming, but because it allows me to create amazing stuffs.
          The first language that I learned is Pascal, at grade 8.
          But that language is limited so I didn't choose to master it.
          At grade 11, I began to learn Web (I learn only HTML, CSS, and JS, never touch PHP).
          Now I'm confident enough to create a Web app with a beautiful UI, such as this one!
        p.
          Some languages that I've learned
        ul
          li HTML5, CSS3, ECMAScript 5, ECMAScript 6
          li C++, C++ 11, C++ 14
          li Node.js
          li Python (3x)
          li UNIX Shell (sh, bash, zsh)
          li etc. <code>// Listing them all would takes day so I better stop here :)</code>
        h4 <a href="game.html">Playing Games</a>
        p.
          I love Action Games, especially First Person Shooter
      .description
        p.
          My name is Khải.
          I'm a <strong>super-cool guy</strong>.
          You may be wondering: "Is he Batman?".
          Well, I am not.
          So why do I use this picture?
          Because why not!
          Batman is awesome as well as I am!
      .content
        p.
          P.S. Just in case you wanna know the real avatar that I usually use, look at the icon in the tab.
    +article(2, 'family', 'About my family', '../image/home.jpg')
      .description
        p.
          I live with my family togother in a house.
          Do you see the house in the picture?
          That's my neighbor's house!
      .content
        +subtitle(3, 'family-overview', 'A bit about my family')
        p.
          My family has 3 members: my mom, my dad, and me.
          My mom and my dad are farmers.
          While I am a student.
        p.
          Ever wonder why I write about myself so long but my family so short?
          It's because who are you to know my parents?
