extends ../../lib/layout.pug

block title
  | Personal Information

block main
  article
    a(name = 'self'): h2 About myself
    ul
      li Full Name: Hoàng Văn Khải
      li Year of Birth: 1996
      li Gender: Male
  article
    a(name = 'family'): h2 About my family
    ul
      li Father
        ul
          li Name: <i>&lt;SECRET&gt;</i>
          li Job: Farming
      li Mother
        ul
          li Name: <i>&lt;SECRET&gt;</i>
          li Job: Farming
