extends ../../lib/layout.pug

block title
  | Personal Information

block main
  article
    a(name = 'self'): h2 About myself
    ul
      li Full Name: Hoàng Văn Khải
      li Year of Birth: 1996
      li Gender: Male
  article
    a(name = 'family'): h2 About My Family
    ul
      li Father
        ul
          li Name
          li Job
      li Mother
        ul
          li Name
          li Job
