extends ../lib/layout.pug

block main-section
  main#main
    for description, category in categories
      -
        const checkbox = 'show-' + category + '-checkbox'
      +checkbox(checkbox)(hidden)
      label.article-container(for = checkbox id = 'article-' + category + '-container')
        article.article(id = category + '-article')
          -
            const imageurl = [siteroot, 'image', 'category', category].join('/')
          img.article-figure(src = imageurl)
          .text.content

  aside#aside
    - for (let i = 0; i !== 1; ++i)
      a.recommendation(id = 'recommendation-' + i): article
